################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Acoustic-Whale/FileContentIndex/c33cac80-c81b-49b4-98d4-ccb6a8fa000d.vsidx
/.vs/Acoustic-Whale/FileContentIndex/read.lock
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/Acoustic-Whale/FileContentIndex/c658e549-312c-4377-8e08-a938bd6ebc1b.vsidx
/.vs/Acoustic-Whale/FileContentIndex/bd15d1b8-9272-4eff-9730-f90538d19d73.vsidx
